---
import Form from "../components/Form.astro";
import Title from "../components/Title.astro";
import { colors } from "../constants/colors";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import ImagedLayout from "../layouts/ImagedLayout.astro";
---

<ImagedLayout imageSrc='secondImage.webp'>
	<CenteredLayout>
		<Title color={colors.white}>Заповніть форму та отримайте консультацію</Title>
		<div class="form-wrapper">
			<Form />
		</div>
	</CenteredLayout>
</ImagedLayout>

<style>
	.form-wrapper {
		display: flex;
		justify-content: center;
	}
</style>