---
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import {colors} from "../constants/colors"
import CenteredLayout from "../layouts/CenteredLayout.astro";
import ImagedLayout from "../layouts/ImagedLayout.astro";

---
<ImagedLayout imageSrc='/mainImage.jpg'>
	<CenteredLayout>
		<Title color={colors.white}>Оформлення громадянства Румунії</Title>
		<p class="hero-p">
			Відкрийте шлях до громадянства Європейського Союзу в максимально короткі строки. Ми допоможемо зібрати необхідні документи, знайдемо юридичні підстави та супроводжуватимемо вас на всіх етапах.
		</p>
		<Button label="Отримати Консультацію" />
	</CenteredLayout>
</ImagedLayout>

<style define:vars={{pColor: colors.white}}>
	.hero-p {
		color: var(--pColor);
		margin-bottom: 96px;
	}
</style>